.icons_container{
    margin: auto;
    display: flex;
    padding: 0;
}
.icon_nav{
    font-size: 30px;
}
.icons_container li{
    margin: 10px;
    list-style: none;
}
.NitemInCart{
    font-weight: bold;
    font-size: 18px;
}