.item_container{
    min-width: min-content;
    max-width: fit-content;
    text-align: center;
    background-color: #59595952;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px auto;
}
.stock{
    display: block;
    text-align: center;
}
.img_product_container{
    background-color: white;
    border-radius: 10px;
}
.img_product{
    padding: 10px;
    max-width: 200px;
    border-radius: 10px;
}
.shipp{
    color: rgb(0, 144, 0);
}
.product_desc_container{
    margin-top: 35px;
    font-size: 30px;
}