.cartItemContainer{
    background-color: rgba(115, 115, 115, 0.113);
    padding: 5px;
    display: flex;
    border: 1px solid rgb(67, 90, 117);
    border-radius: 25px;
}
.cartItemContainer img{
    width: 60px;
    height: 60px;
}